---
import Container from "@/components/layout/Container.astro";
import { credibilityMetrics } from "@/data/metrics";
---
<div class="section section-tight">
  <div class="container">
    <div class="credibility-strip">
      {credibilityMetrics.map((item) => (
        <div class="credibility-pill">{item}</div>
      ))}
    </div>
  </div>
</div>
