---
import Container from "@/components/layout/Container.astro";
import { siteConfig } from "@/content/site";
---
<footer class="footer">
  <div class="container">
    <div>{siteConfig.footerText}</div>
  </div>
</footer>
